.page {
    background-color: rgba(75, 142, 37, 1);
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 25%;
    height: 200px;
    background-image: url("../../assets/images/cards/empty-card.webp");
    background-repeat: no-repeat;
    background-position: center;
}

.flipped[data-cardid="1"] {
    background-image: url("../../assets/images/cards/card-1.webp");
}

.flipped[data-cardid="2"] {
    background-image: url("../../assets/images/cards/card-2.webp");
}

.flipped[data-cardid="3"] {
    background-image: url("../../assets/images/cards/card-3.webp");
}

.flipped[data-cardid="4"] {
    background-image: url("../../assets/images/cards/card-4.webp");
}

.flipped[data-cardid="5"] {
    background-image: url("../../assets/images/cards/card-5.webp");
}

.flipped[data-cardid="6"] {
    background-image: url("../../assets/images/cards/card-6.webp");
}

.flipped[data-cardid="7"] {
    background-image: url("../../assets/images/cards/card-7.webp");
}

.flipped[data-cardid="8"] {
    background-image: url("../../assets/images/cards/card-8.webp");
}

.flipped[data-cardid="9"] {
    background-image: url("../../assets/images/cards/card-9.webp");
}

.flipped[data-cardid="10"] {
    background-image: url("../../assets/images/cards/card-10.webp");
}

.game-settings {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(100, 31, 22, 1);
    padding: 100px;
    gap: 30px;
    border-radius: 32px;
}